:root{
    --base-color:white;
    --base-variant:#e8e9ed;
    --text-color: #111528;
    --secondary-text:#232738;
    --primary-color:#3a435d;
    --accent-color:#0071ff;
    }
    
    .darkmode{
        --base-color:#070b1d;
        --base-variant:#101425;
        --text-color: #ffffff;
        --secondary-text:#a4a5b8;
        --primary-color:#3a435d;
        --accent-color:#0071ff;
        }
    
    #theme-switch{
    
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    }
    
    
    #theme-switch svg{
        fill: var(--primary-color);
    }
    
    #theme-switch svg:last-child{
        display: none;
    }
    .darkmode #theme-switch svg:first-child{
        display: none;
    }
    .darkmode #theme-switch svg:last-child{
        display: block;
    }
    

body{
    background-color:var(--base-color);
    color: var(--text-color);
    color: hsl(0, 0, 80%);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.weatherform{
    margin: 20px;

}
.cityInput{
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
}
button[type="submit"]
{
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: hsl(122, 39%, 50%);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover{ /* to make button darker */
background-color: hsl(122,39%, 40%);
}
.card{
    background: linear-gradient(180deg,hsl(210,100%,75%), hsl(122,39%, 40%));
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
h1{
    font-size: 3.5rem;
    margin-top: 10px;
    margin:25px;
}
p{
    font-size: 1.5rem;
    margin: 5px  0;
}
.cityDisplay, .tempDisplay{
font-size: 3.5rem;
font-weight: bold;
color: hsla(0, 0,0, 0.75);
margin-bottom: 25px;
}
.humidityDisplay{
font-weight: bold;
margin-bottom: 25px;
}
.weatherEmoji{
    margin: 0;
    font-size: 7.5rem;
}
.descDisplay{
    font-weight: bold;
    font-size: 2rem;
}
.errorDisplay{
    font-weight: bold;
    font-size: 2rem;
    color: hsla(0, 0, 0, 0.75);
}